/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

#navbar a.active{
color: #ff7c5b;
background-color: transparent;
position: relative;
}

#navbar .navbar-center a.active::before {
position: absolute;
content: '';
width: 100%;
border-bottom: 8px solid #ff7c5b;
bottom: -23px;
clip-path: polygon(50% 0%, 60% 60%, 90% 60%, 100% 100%, 0 100%, 10% 60%, 40% 60%);
}

#navbar a:hover{
    color: #ff7c5b;
    transition: linear 0.2s;
}

#dashboardMenu a.active{
    color: #ff7c5b;
}

#dashboardMenu a:hover{
    color: #ff7c5b;
    transition: linear 0.2s;
}